<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Klasifikasi Tweet</title>
    <style>
        .btn-classify{
            background-color: white;
            margin-left: 40px;
            margin-top: 20px;
            font-size: 14px;
            color: #0099ae;
            border: 1px solid #0099ae;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            padding: 10px 25px;
        }
        .btn-classify:hover,
        .btn-classify:focus{
            outline: none;
            background: none;
            box-shadow: none;
            color: blue !important;
            border-color:#01707f;
        }
        #myInput{
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 20%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
        #myTable{
            border-collapse: collapse;
        }

        #myTable th, #myTable td{
            border: 1px solid #ddd;
            padding: 8px;
        }

        #myTable tr:nth-child(even){
            background-color: #f2f2f2;
        }

        #myTable th {
            text-align: center;
            background-color: #00BFFF;
            color: white;
        }

    </style>

</head>
<body>
{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">

                            <h1>Aplikasi Klasifikasi Sentimen pada Tweets PT. TRANSJAKARTA</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="page-breadcrumb1">
        {#    <div class="clearfix"></div>#}
        <form action="/tweets/" method="post">{% csrf_token %}
            <p>
{#                <button style="font-size: 12pt; margin-top: 20px; width: 150px; height: 30px; cursor: pointer;" value="Klasifikasi Tweet">Klasifikasi Tweets</button>#}
{#                <button class="btn-classify">Klasifikasi Tweets</button>#}
                <button style="margin-left: 20px; margin-top: 50px;" class="btn btn-primary">Klasifikasi Tweets</button>

            </p>
        </form>
    </section>

    <section id="page-breadcrumb1">
        {#        <div class="col-md-offset-4 col-md-4">#}

        <div class="col-md-8">
            <input style="margin-left: 5px; height: 35px; width: 200px; padding-left: 20px;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for tweets..">
            {#        <button onclick="myFunction()" id="searchbutton;">Search</button>#}
            <!--<div id="myDIV" style="display:none">-->
            <table id="myTable" style="margin-top: 20px; margin-bottom: 20px; border-collapse: collapse;">
                <tr>
                    <th style="width: 80%; text-align: center; background-color: #00BFFF; color: white; border: 1px solid #ddd; padding: 8px;" >Tweets</th>
                    <th style="width: 20%; text-align: center; background-color: #00BFFF; color: white; border: 1px solid #ddd; padding: 8px;">Hasil Klasifikasi</th>
                </tr>
                {% for item in obj %}
                    <tr>
                        <td style="width: 80%; border: 1px solid #ddd; padding: 8px;">{{ item.sentiment }}</td>
                        <td style="width: 20%; border: 1px solid #ddd; text-align: center; padding: 8px;">{{ item.classification }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <div class="col-md-4">
    <div id="piechart" style="margin-top: 20px;"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div class="col-md-offset-4">
    <button style="margin-left: 20px; margin-top: 50px;" class="btn btn-primary" onclick="simpanHasil()">Save</button>
            </div>
    </div>
    </section>
    <!--<div class="clearfix"></div>-->
    <script>
        function simpanHasil(){
            window.print();
        }
        function ShowTableChart(){
            var x = document.getElementById('myDIV');
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
        function myFunction() {
            var input, filter, table, tr, td, td1, i, pos_count, neg_count, net_count;
            pos_count = 0;
            neg_count = 0;
            net_count = 0;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {

                        if (td1.innerHTML === "Positif") {
                            pos_count += 1;
                            //window.print(pos_count);
                            //document.write(pos_count);

                        } else if (td1.innerHTML === "Negatif"){
                            neg_count += 1;
                        } else {
                            net_count += 1;
                        }
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Sentiment Positif', pos_count],
                    ['Sentiment Negatif', neg_count],
                    ['Sentimen Netral', net_count]
                ]);

                // Optional; add a title and set the width and height of the chart
                var options = {'title':'Pie Chart Hasil Klasifikasi Tweets', 'width':550, 'height':400};

                // Display the chart inside the <div> element with id="piechart"
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
            //document.write(neg_count);
        }
    </script>


{#        <div id="piechart" class="col-md-4"></div>#}

{#    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}

    <script type="text/javascript">

        var table, pos_count, neg_count, net_count;
        pos_count = 0;
        neg_count = 0;
        net_count = 0;
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML === "Positif") {
                    pos_count += 1;
                } else if (td.innerHTML === "Negatif") {
                    neg_count += 1;
                } else {
                    net_count += 1;
                }
            }
        }

        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Sentiment', 'Total'],
                ['Sentiment Positif', pos_count],
                ['Sentiment Negatif', neg_count],
                ['Sentiment Netral', net_count]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Pie Chart Hasil Klasifikasi Tweets', 'width':450, 'height':300};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

    <!--<div class="column">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    </div>-->
    <!--<div class="clearfix"></div>-->

{% endblock %}

</body>
</html>
